/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif; 
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; 
}

/* ------------------------------------- */
/* HEADER */
/* ------------------------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url(../images/bg-main-cover.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}


header h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.hero-text {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.5;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;  
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 500;
    padding: 20px;
    border: 2px solid transparent;
}

.main-nav li a:hover,
.main-nav li a:active {
    padding: 10px 20px;
    border: 2px solid #e67e22;
    transition: border 0.5s;
}

.request ul, .all-requests ul {
    margin-bottom: 10px;
    position: relative;
    right: -68%;
}

.request li, .all-requests li {
    display: inline-block;
    padding: 8px;  
    border-right: 1px solid #252525;
}

.request li:first-child, .request li:last-child{
    border: none;
}


.request li a,  .all-requests li a{
    text-decoration: none;
    padding-left: 5px;
    color: #252525;
}

.active {
    padding: 12px 0px;
    border: 2px solid #e67e22;
}

.admin-nav .main-nav li a:hover,
.admin-nav .main-nav li a:active {
    padding: 10px 20px;
    border: 2px solid #22a6b3;
    transition: border 0.5s;
}

.admin-nav .active {
    border: 2px solid #22a6b3;
}

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: #fff;
}



/* ------------------------------------- */
/* BUTTONS */
/* ------------------------------------- */

.btn:link,
.btn:visited, .btn-user-view {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-orange:link,
.btn-orange:visited, .btn-user-view {
    background-color: #e67e22; 
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {   
    border: 1px solid #e67e22;
    color:  #e67e22;
}

.btn:hover, .btn:active,  {
    background-color: #cf6d17;
    padding: 10px 20px;
}

.btn-orange:active,
.btn-orange:hover {
    border: 1px solid #e67e22;
    padding: 10px 20px;
}

.btn-ghost:hover,
.btn-ghost:active {   
    border: 1px solid #e67e22;
    padding: 10px 20px;
    color:  #fff;
}

/* ------------------------------------- */
/* Form */
/* ------------------------------------- */
.form {
    position: absolute;
    width: 40%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 2% 2% 1%;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;    
}


.admin h2, .form h2 {
    margin: 0 0 50px 0;
    padding: 0 0 20px 0;
    text-align: center;   
}

.form h2 {
     border-bottom: solid 1px #e67e22;  
}

.admin h2 {
    border-bottom: solid 1px #22a6b3;
}

.form p {
    margin: 0 0 3% 0;
    position: relative;
    font-size: 100%;
}
.form input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin: 0;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 150%;
    padding: 1% 1%;
    border-radius: 2px;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
    background: #fff;
}

.admin input[type="submit"], .form input[type="submit"] {    
    border-radius: 2%;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 80%;
    font-weight: 300;
    margin: 4% 0 0;
    padding:3%;
}

.form input[type="submit"] {
     background: #e67e22; 
}

.admin input[type="submit"] {
    background: #22a6b3;
   
}

.form input[type="submit"]:hover {
    background: #cf6d17;
}

.admin input[type="submit"]:hover {
    background: #0584f1;
}

.form label {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 100%;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: #fff;
    transition: color 0.3s, top 0.3s, background-color 0.8s;
}

.form label.label {
    top: -11px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 80%;
}

.form a {
    text-decoration: none;
    color: #e67e22;
}

.form .small-signin {
    font-size: 80%;
    font-weight: 500;
}


/* ------------------------------------- */
/* Dashboard Header*/
/* ------------------------------------- */

.left-content {
    float: right;
    width: 84%;
    
}

.admin-content {
    width: 80%;
    margin: 0 auto;
    color: #252525; 
}

.admin-header {
    background: #252525;   
    padding: 2%;
}

.admin-name {   
    width: 40%;
    float: left;
    font-size:100%;
    font-weight: 400; 
}


.admin-name h3 {   
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 100%;
    font-weight: 300;    
}


.admin-name, .content-header h1 {
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px; 
}

.content-header {
    margin-top: 5%;    
}

.content-header h1 {
    margin-bottom: 20px;
    font-size: 240%;
    font-weight: 300;
}

.content-header p {
    font-weight: 500;
}

.request, .all-requests {
    margin-top: 50px;
    font-size: 80%;
    font-weight: 400;
}

.request-table, {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.request-table td, .request-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.request-table th {
    background-color: #22a6b3 ;
    padding: 20px 8px;
    color: #fff;
}


.request-table a {
    text-decoration: none;
    color: #fff;   
}


.btn-accept:link, .btn-reject:link {
    color: #fff;    
    padding: 8px 8px;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    font-weight: 400;
    
}

.btn-accept:link {    
    background-color: #2ecc71;
   
}

.btn-reject:link {
    background-color: #B52E31;   
}

td:nth-child(3), td:nth-child(4), td:nth-child(5) {   
    border: none;
}

td:nth-child(2) {
    width: 50%;
}

td:nth-child(3) {
    text-align: center;    
}

td:nth-child(5) a {
    color: #252525;
    text-decoration: underline;
}

.all-requests td:nth-child(2) {
    width: 15%;
}

.all-requests table {
    border: 1px solid #ddd;
}

.all-requests td {
    text-align: left;
}
.all-requests td:nth-child(3),
.all-requests td:nth-child(4), 
.all-requests td:nth-child(5),
.all-requests td:nth-child(6) {
    border: 1px solid #ddd;
}

.logout {
    width: 30%;
    float: right;
    text-align: right;
    margin-top: 0;
}

.logout a {
    text-decoration: none;
    color: #fff;    
    padding: 3%;
    border-radius: 5px;
    text-transform: uppercase;
}

.logout a:link,
.logout a:visited {    
    color: #fff;
}

.logout a:hover,
.logout a:active {    
    border: 1px solid #fff;
}

.admin-info {    
    margin-bottom:2%;
}


/* ------------------------------------- */
/* Dashboard Sidebarr*/
/* ------------------------------------- */
.side-menu {
    position: fixed;
    float: left;
    width: 16%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #22a6b3;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.dash-logo {
    width: 100%;
    background: #fff;
}

.center-logo {
    width: 80px;
    margin: auto;
}

.img-logo {
    width: 80px;   
    text-align: center;
}

#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#menu li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.89);
    padding: 0;
    padding: 0; 
}

#menu li ul {
    opacity: 0;
    height: 0px;
}

#menu li a {
    font-size: 80%;
    font-weight: 500;
    position: relative;
    display: block;
    padding: 13px 20px;
    color: #fff;   
    z-index: 2;	
	border-left: 4px solid #fff;
    text-decoration: none;
}

#menu li a:hover {
    color: #ffffff;
    background-color:#252525;  
    border-left: 4px solid #4A4A4A;
}

#menu li.active > a {
    background-color: #2b303a;
    color: #ffffff;
}


#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li ul {
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -1px;
    background-color: #2b303a;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.1s linear;
    border-top: 1px solid rgba(69, 74, 84, 0.7);
}

#menu li:hover > ul {
    visibility: visible;
    opacity: 1;
}



#menu li li ul {
    right: 100%;
    visibility: hidden;
    top: -1px;
    opacity: 0;
    transition: opacity 0.1s linear;
}

#menu li li:hover ul {
    visibility: visible;
    opacity: 1;
}

#menu .fa { margin-right: 10px; }

/* ------------------------------------- */
/* User area*/
/* ------------------------------------- */

.user-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/bg-main-cover.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

.user-container {
    width: 70%;
    margin: auto; 
    margin-top: 20px;
}

.user-sec1 {
    box-sizing: border-box;
    width: 45%;
    float: left;
    color: #fff;
    padding: 5% 3% 5% 3%;
    background-color: #333;
    margin-right: 10px;
}

.user-sec1 img {
    width: 30%;   
    display: block;
    margin: auto;
    margin-bottom: 3%;
    border-radius: 50%;
}

.user-sec1 h1 {
    margin-bottom: 10%;   
    color: #fff;
    font-size: 150%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
}

.center-button {
    display: block;
    text-align: center;
}

.user-sec1 p {
    font-size: 80%;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8%;
    
}

.btn-user-view:hover, .btn-user-view:active {
    background-color: #cf6d17;
    font-weight: 400;
}

.user-sec2 {
    background-color: #fff;
    content: "";
    height: 100%;
}

.user-sec2 p {
    margin-bottom: 10px;
    text-align: left;
    font-weight: 400
}

.form-title {
    font-size: 80%;
    margin-left: 10px;
}

.post-request {
    margin-bottom: 10px;
}
textarea {
    background: #fff;
    border: 1px solid #dbdbdb;   
    padding: 1% 1%;
    border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 20px;
    resize: none;
    width: 40%;
    font: 'Lato';
}


.user-form input[type="submit"] { 
    margin-bottom: 10px;
    margin-left: 20px;
}





