<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../static/css/html5reset.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>        
        <title>Maintenance Tracker - Sign In</title>
    </head>
    <body>
        <header class="admin">
            <div class = "admin-nav">
                <nav>
                    <div class="wrapper">
                        <a href="../index.html">
                            <img src="../../static/images/logo-white.png" alt="maintenance tracker logo" class="logo">
                        </a>
                            <ul class="main-nav">              
                                <li class="active"><a href="index.html">Sign in</a></li>
                                <li><a href="signup.html">Sign up</a></li>
                            </ul>
                        </div>
                    </nav>
            </div>
        <form class="form admin" action="#" method="post">
            <h2>Admin Sign In</h2>
            <p>
                <label for="username" class="label">Admin Username</label>
                <input id="username" name="username" type="text" required>
            </p>           
            
            <p>
                <label for="password" class="label">Password</label>
                <input id="password" name="password" type="password" required>
            </p>
            
            
            <p>
                <input type="submit" value="Sign in" id="submit">
            </p>            
        </form>
        </header>
    </body>
</html>